<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Login</title>
    
    <script>
      function login() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        var data = { "username": username, "password": password };
        fetch('/login', {
          method: 'POST',
          body: JSON.stringify(data),
          headers:{
            'Content-Type': 'application/json'
          }
        }).then(function(response) {
          if (response.redirected) {
            window.location.href = response.url;
          } else {
            response.text().then(function(message) {
              document.getElementById("message").innerText = message;
            });
          }
        });
      }
    </script>
  </head>

  <body>
    <h1>Login</h1>
    <div id="message"></div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="button" onclick="login()">Login</button>
  </body>

</html>
