<!DOCTYPE html>
<html>
<body>

<h1>Tic Tac Toe</h1>

<button onclick="goToSignUpPage()">Sign Up</button>
<script>
    function goToSignUpPage() {
      window.location.href = "/SignUp";
    }
  </script>

<br>
<br>

<button onclick="goToLogInPage()">Log In</button>
<script>
    function goToLogInPage() {
      window.location.href = "/LogIn";
    }
  </script>

<br>
<br>

<form action="/players/list" method="GET">
  <button type="submit">View players</button>
</form>

<ul>
  {% for player in players %}
    <li>{{ player.id }} - {{ player.username }} - {{ player.password }}</li>
  {% endfor %}
</ul>

<form action="/players/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <label for="player_id">Player ID:</label>
  <input type="text" id="player_id" name="player_id"><br><br>
  <button type="submit">Delete Player</button>
</form>

{% if error_message %}
<p class="error">{{ error_message }}</p>
{% endif %}


</body>
</html>