<html>

<h1>Create account</h1>
<script>
  function signup() {
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;
    var data = { "username": username, "password": password };

    fetch('/players/add', {
      method: 'POST',
      body: JSON.stringify(data),
      headers:{
        'Content-Type': 'application/json'
      }
    }).then(response => response.text())
      .then(html => {
          document.body.innerHTML = html;
      })
  }
</script>

<form action="/players/add" method="POST">
    <label for="username">username:</label>
    <input type="text" id="username" name="username"><br><br>
    
    <label for="password">password:</label>
    <input type="password" id="password" name="password"><br><br>
  
    <button type="button" onclick="signup()">Add player</button>
  </form>


</html>